.bottomNavigationCont {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 5em;
    height: 480px !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #f1f7ff!important;
    border-radius: 100px!important;
    margin: 16px;
}

.bottomNavigationCont button span{
    padding-top: 12px;
}